<h1>Changing Passwords</h1>

<% form_for @user, :url => password_reset_path(params[:id]), :method => :put do |f| %>
  <%= f.error_messages %>
  <div id="password">
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
  </div>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
