<div class="comment remove inline-edit">
	<div class='content'>
		<h4><%= comment.user.name %></h4>
		<%= raw markdown(comment.text) %>
	</div>
	<div class='form hide'>
		<%= render 'comments/form', :comment => comment %>
	</div>
	<div class='links'>
		<%= link_to '[edit]', '#', :class => 'edit' if can? :update, comment %>
		<%= link_to '[destroy]', song_comment_path(comment.song, comment), :class => 'remote-remove' if can? :destroy, comment %>
	</div>
</div>