<div class='tabs'>
	<ul>
		<li><a href="#queued">Queued</a></li>
		<li><a href="#current">Current</a></li>
		<li><a href="#finished">Finished</a></li>
		<li><a href="#failed">Failed</a></li>
		<li><a href="#waiting">Awaiting Conversion</a></li>
	</ul>
	
	<div id='queued'>
		<%= render 'download_list', :downloads => @queued_downloads %>
	</div>
	
	<div id='finished'>
		<%= link_to "[Clear these]", :controller => 'fargo/commands', :action => "clear_finished_downloads" if can? :manage, Fargo %>
		<%= render 'download_list', :downloads => @finished_downloads %>
	</div>
	
	<div id='failed'>
		<%= link_to "[Clear these]", :controller => 'fargo/commands', :action => "clear_failed_downloads" if can? :manage, Fargo %>
		<%= render 'download_list', :downloads => @failed_downloads %>
	</div>
	
	<div id='waiting'>
		<table>
			<tr>
				<th>File</th>
				<th>Next Run</th>
				<th>Running?</th>
				<th>Last Error</th>
				<th>Attempts</th>
			</tr>
			<% @jobs.each do |job| %>
				<tr class='download'>
					<td><%= File.basename job.payload_object.file %></td>
					<td><%= job.run_at %></td>
					<td><%= !job.locked_at.nil? %></td>
					<td title="<%= job.last_error %>">
						<%= truncate job.last_error.split("\n").first unless job.last_error.nil? %>
					</td>
					<td><%= job.attempts %></td>
					<td class='links'>
						<% if can? :manage, Fargo %>
							<%= link_to "Remove", remove_fargo_download_path(job.id), :method => :delete, :class => 'remove' %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>	
	</div>
	
	<div id='current'>
		<table>
			<tr>
				<th>Nick</th>
				<th>File</th>
				<th>Size</th>
				<th>Progress</th>
			</tr>
			<% @current_downloads.each_pair do |nick, download| %>
				<tr>
					<td><%= nick %></td>
					<td><%= download.file %></td>
					<td><%= number_to_human_size download.size %></td>
					<td><%= number_to_percentage download.percent * 100 %></td>
				</tr>
			<% end %>
		</table>
		
	</div>
</div>
