<table id='downloads'>	
	<tr>
		<th>Nick</th>
		<th>File</th>
		<th>Progress</th>
		<th>Started?</th>
	</tr>

	<tbody id='current'>
		<tr><td colspan='5' class='header'>Current Downloads</td></tr>
		<% @current_downloads.each do |download| %>
			<tr>
				<td><%= download[:nick] %></td>
				<td><%= download[:file] %></td>
				<td><%= download[:progress] %>% of <%= download[:size] %></td>
				<td><%= download[:started] %></td>
			</tr>
		<% end %>
	</tbody>

	<tbody id='queued'>
		<tr><td colspan='5' class='header'>Queued Downloads</td></tr>
		<% @queued_downloads.each do |download| %>
			<tr>
				<td><%= download[0] %></td>
				<td><%= download[1] %></td>
			</tr>
		<% end %>
	</tbody>

	<tbody id='failed'>
		<tr><td colspan='5' class='header'>Failed Downloads</td></tr>
		<% @failed_downloads.each do |download| %>
			<tr>
				<td><%= download[:nick] %></td>
				<td><%= download[:file] %></td>
				<td><%= download[:progress] %>% of <%= download[:size] %></td>
				<td><%= download[:started] %></td>
			</tr>
		<% end %>
	</tbody>

</table>

<!-- <table id='downloads'>
	<tr><td colspan='5' class='header'>Conversions</td></tr>
	<tr>
		<th>File</th>
		<th>Last Run</th>
		<th>Running?</th>
		<th>Last Error</th>
		<th>Attempts</th>
	</tr>
	<tbody id='conversions'>
		
		<% @jobs.each do |job| %>
			<tr class='download'>
				<td><%= job.payload_object.file %></td>
				<td><%= job.run_at %></td>
				<td><%= !job.locked_at.nil? %></td>
				<td title="<%= job.last_error %>">
					<%= truncate job.last_error.split("\n").first unless job.last_error.nil? %>
				</td>
				<td><%= job.attempts %></td>
				<td class='links'>
					<% if can?(:download, Fargo) && job.locked_at.nil? %>
						<%= link_to 'Retry', retry_fargo_download_path(job.id), :class => 'retry' %>
					<% end %>
					<% if can? :manage, Fargo %>
						<%= link_to "Remove", fargo_download_path(job.id), :method => :delete, :class => 'remove' %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
	<tbody>
</table> -->
