<div class="song">
	<div class='image'>
		<%= image_tag song.album_image_url if song.album_image_url %>
	</div>
	<div class='content'>
		<h3><%= song.display_title %></h3>
		<h5>
			<%= song.artist %> 
			<%= raw "&mdash; #{song.album}" unless song.album.blank? %>
		</h5>
		<p>
			Play count: <%= song.play_count %>
		</p>
	</div>
	<div class='links'>
		<p>
			<% if defined?(item) %>
				<p>
					Queued by: <%= item.user.name if item.user %>
				</p>
			<% end %>
			<%= link_to '[download]', download_song_path(song) if can? :download, song %>
			<%= link_to '[edit]', edit_song_path(song) if can? :update, song %>
			<%= link_to '[destroy]', song, :method => :delete, :confirm => 'are you sure?' if can? :destroy, song %>

			<% if defined?(item) && can?(:destroy, item) %>
				<br/><%= link_to '[remove]', playlist_queue_item_path(@playlist, item), :class => 'remove' %>
			<% end %>
		</p>
		<% if @playlist.nil? %>
			<div class='add'>
				<%= link_to "[add to playlist]", '#' %>
				<ul>
					<% Playlist.all.each do |playlist| %>
						<li>
							<%= link_to playlist.name, new_playlist_queue_item_path(playlist) + '?' + {:song_id => song.id}.to_query %>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>