<div class="song">
	<div class='image'>
		<%= image_tag song.album_image_url if song.album_image_url %>
	</div>
	<div class='content'>
		<h3><%= song.title %></h3>
		<h5>
			<%= song.artist %> 
			<%= raw "&mdash; #{song.album}" unless song.album.blank? %>
		</h5>
		<p>
			Play count: <%= song.play_count %>
		</p>
	</div>
	<div class='links'>
		<p>
			<%= link_to '[download]', download_song_path(song) %>
			<% if @playlist && can?(:manage, song) %>
				<br/><%= link_to '[remove]', dequeue_playlist_path(@playlist) + "?" + {:song_id => song.id}.to_query %>
			<% end %>
		</p>
		<% if @playlist.nil? %>
			<div class='add'>
				<%= link_to "[add to playlist]", '#' %>
				<ul>
					<% Playlist.all.each do |playlist| %>
						<li>
							<%= link_to playlist.name, enqueue_playlist_path(playlist) + '?' + {:song_id => song.id}.to_query %>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>