<% playlists = Playlist.scoped %>

<div class="song remove inline-edit"
     id="s<%= song.id %>"
     data-queue-id="<%= defined?(item) ? item.id : '' %>">
  <div class='image'>
    <%= link_to [song.artist, song.album] do %>
      <%= image_tag song.album.cover_url, :width => '126' %>
    <% end if song.album && song.album.cover_url %>
  </div>

  <div class='content'>
    <h3><%= truncate(song.title) %></h3>

    <% if song.artist %>
      <h5><%= link_to truncate(song.artist.name), song.artist %></h5>
    <% end %>

    <% unless song.album.blank? %>
      <h5>
        <%= link_to truncate(song.album.name), [song.artist, song.album] %>
      </h5>
    <% end %>
    <p>
      Play count: <%= song.play_count %>
    </p>
  </div>

  <div class='links'>
    <p>
      <%= link_to '[download]', song_url(song, :format => 'mp3') %>

      <% if can? :update, song %>
        <%= link_to '[edit]', [:edit, song], :class => 'edit',
              :remote => true  %>
      <% end %>

      <% if can? :destroy, song %>
        <%= link_to '[destroy]', song, :method => :delete,
              :confirm => 'are you sure?', :remote => true %>
      <% end %>

      <% if defined?(item) && can?(:destroy, item) %>
        <br/>
        <%= link_to '[remove]', [@playlist, :dequeue, item],
              :method => :delete, :remote => true %>
      <% end %>
    </p>

    <% if @pool %>
      <%= link_to '[remove from pool]', [@playlist, :pool, :remove, song], :class => 'remote-remove get' if can? :remove_from, @pool %>
    <% end %>

    <% if @playlist.nil? %>
      <div class='add queue'>
        <%= link_to "[add to queue]", '#' %>
        <ul>
          <% playlists.each do |playlist| %>
            <% next if cannot? :add_to, playlist.pool %>

            <li class='p<%= playlist.id %>'>
              <%= link_to playlist.name, [playlist, :enqueue, song],
                    :remote => true %>
            </li>
          <% end %>
        </ul>
      </div>

    <% end %>
  </div>
</div>
