<% playlists = Playlist.scoped %>

<div class="song remove inline-edit"
     id="s<%= song.id %>"
     data-queue-id="<%= defined?(item) ? item.id : '' %>">
  <div class='image'>
    <%= link_to [song.artist, song.album] do %>
      <%= image_tag song.album.cover_url, :width => '126' %>
    <% end if song.album && song.album.cover_url %>
  </div>

  <div class='content'>
    <h3><%= truncate(song.title) %></h3>

    <% if song.artist %>
      <h5><%= link_to truncate(song.artist.name), song.artist %></h5>
    <% end %>

    <% unless song.album.blank? %>
      <h5>
        <%= link_to truncate(song.album.name), [song.artist, song.album] %>
      </h5>
    <% end %>
    <p>
      Play count: <%= song.play_count %>
    </p>
  </div>

  <div class='ratings' remote="<%= url_for [:rate, song] %>">
    <div class='rating'>
      <ul class='overall' data-rating="<%= number_to_percentage song.rating %>">
        <% (1..10).each do |score| %>
          <li<%= raw(' class="selected"') if score > 10 - song.rating %>>
            &nbsp;
          </li>
        <% end %>
      </ul>
      <span class='score overall'><%= song.rating.to_i %></span>
    </div>
    <div class='rating'>
      <% rating = song.ratings.by(current_user).first.try(:score) || 0 %>
      <ul class='user' data-rating="<%= rating %>">
        <% (1..10).each do |score| %>
          <li<%= raw(' class="selected"') if score > 10 - rating %>>
            &nbsp;
          </li>
        <% end %>
      </ul>
      <span class='score user'><%= rating %></span>
    </div>
  </div>

  <div class='links'>
    <% if defined?(item) %>
      <p>
        Queued by: <%= item.user.name if item.user %>
      </p>
    <% end %>

    <p>
      <%= link_to '[download]', song_url(song, :format => 'mp3') %>

      <% if can? :update, song %>
        <%= link_to '[edit]', [:edit, song], :class => 'edit',
              :remote => true  %>
      <% end %>

      <% if can? :destroy, song %>
        <%= link_to '[destroy]', song, :method => :delete,
              :confirm => 'are you sure?', :remote => true %>
      <% end %>

      <% if defined?(item) && can?(:destroy, item) %>
        <br/>
        <%= link_to '[remove]', [@playlist, :dequeue, item],
              :method => :delete, :remote => true %>
      <% end %>
    </p>

    <% if @pool %>
      <%= link_to '[remove from pool]', [@playlist, :pool, :remove, song], :class => 'remote-remove get' if can? :remove_from, @pool %>
    <% end %>

    <% if @playlist.nil? %>
      <div class='add queue'>
        <%= link_to "[add to queue]", '#' %>
        <ul>
          <% playlists.each do |playlist| %>
            <% next if cannot? :add_to, playlist.pool %>

            <li class='p<%= playlist.id %>'>
              <%= link_to playlist.name, [playlist, :enqueue, song],
                    :remote => true %>
            </li>
          <% end %>
        </ul>
      </div>

      <% poss = playlists.select{ |p| can?(:add_to, p.pool) && !song.pool_ids.include?(p.pool.id)}%>
      <% if poss.size > 0 %>
        <div class='add pool' style='top:80px;'>
          <%= link_to "[add to pool]", '#' %>
          <ul>
            <% poss.each do |playlist| %>
              <li>
                <%= link_to playlist.name, add_song_playlist_pool_path(playlist, song), :remote => true %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
