<% paginated_section @songs do %>
	<table>
		<tr>
			<th>Title/File</th>
			<th>Artist</th>
			<th>Album</th>
			<th></th>
		</tr>
		<% @songs.each do |song| %>
			<tr>
				<td><%= link_to song.display_title, song %></td>
				<td><%= song.artist %></td>
				<td><%= song.album %></td>
				<td>
					<%= link_to "Edit", edit_song_path(song) if can? :update, song %>
					<%= link_to "Delete", song, :confirm => 'are you sure?', :method => :delete if can? :destroy, song %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>