<h1>Searching Songs</h1>

<div class='search' id='songs-search'>
	<%= form_tag [:search, :songs], :method => :get do %>
		<p>
			<%= text_field_tag :q, params[:q], :placeholder => "Search query" %>
			<%= submit_tag 'Search' %>
		</p>
	<% end %>
</div>

<div id='search-response' class='pagination-container'>
	<%= paginated_section @songs do %>
		<%= render @songs %>
	<% end %>
</div>
