<div class='actions'>
	<%= link_to "Edit", edit_song_path(@song) if can? :update, @song %> |
	<%= link_to "Destroy", @song, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @song %> |
  <%= link_to "View All", songs_path %>
</div>
<%= render @song %>


<h3>Comments</h3>
<section id='comments'>
	<div class='links'>
		<%= link_to '[add comment]', '#', :class => 'add' %>
		<div class='hide'>
			<%= render 'comments/form' %>
		</div>
	</div>
	<%= render @song.comments %>
</section>
