<% form_for @playlist do |f| %>
  <%= f.error_messages %>
  <dl>
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>
    <dt><%= f.label :private %></dt>
    <dd><%= f.check_box :private %></dd>
		<dt><%= f.label :description %></dt>
		<dd><%= f.text_area :description %></dd>
	</dl>

  <p><%= f.submit "Submit" %></p>
<% end %>
