<% provide :javascripts do %>
  <%= javascript_include_tag 'playlists/show' %>
<% end %>
<% provide :stylesheets do %>
  <%= stylesheet_link_tag 'jquery/ui' %>
<% end %>

<div class="search">
  <div>
    <%= link_to '[Edit playlist]', [:edit, @playlist] if can? :update, @playlist %>
    <%= link_to '[Pool]', [@playlist, :pool] %>

    <% if can?(:control, @playlist) %>
      <% style = @playlist.playing? ? '' : 'display:none' %>
      <span class='playing' style='<%= style %>'>
        <%= link_to '[Next Song]', '#', :class => 'next' %>
        <%= link_to '[Stop streaming]', '#', :class => 'stop' %>
      </span>
      <% style = @playlist.playing? ? 'display:none' : '' %>
      <span class='not-playing' style='<%= style %>'>
        <%= link_to "[Start streaming]", '#', :class => 'start' %>
      </span>
    <% end %>
  </div>

  <% if can? :add_to, @playlist.pool %>
    <%= form_tag [@playlist, :enqueue], :id => 'song-search', :remote => true do %>
      <div>
        <%= hidden_field_tag :song_id %>
        <%= text_field_tag :q, params[:q], :autocomplete => 'off',
                :placeholder => 'Add a song to this queue' %>
        <%= submit_tag 'Add', :disable_with => 'Adding...' %>
      </div>
    <% end %>
  <% end %>
</div>

<% style = @playlist.playing? ? '' : 'display:none' %>
<div class='status' data-id="<%= @playlist.to_param %>" style='<%= style %>'>
  <p>
    Stream url: <%= @playlist.stream_url %><br/>
    Current Song:
    <span id='current-song'><%= @playlist.current_song %></span>
  </p>
</div>

<h2>Queue:</h2>

<%= render 'queue' %>
