<div class="search">
	<div>
		<% if can? :update, @playlist %>
			<%= link_to "[Edit playlist]", edit_playlist_path(@playlist) %>
		<% end %>
		<% if can?(:manage, Radio) && radio_connected? %>
			<% if radio.playing? @playlist %>
				<%= link_to "[Stop streaming]", :controller => 'radio/commands', :action => 'stop', :playlist_id => @playlist.slug %>
				<%= link_to "[Next Song]", :controller => 'radio/commands', :action => 'next', :playlist_id => @playlist.slug %>
			<% else %>
				<%= link_to "[Start streaming]", :controller => 'radio/commands', :action => 'add', :playlist_id => @playlist.slug %>
			<% end %>
		<% end %>
	</div>
	<% form_tag enqueue_playlist_path(@playlist), :id => 'song-search' do %>
		<div>
			<%= hidden_field_tag :playlist_id, @playlist.slug %>
			<%= text_field_tag :q, '', :autocomplete => 'off', :placeholder => 'Add a song to this queue' %>
			<%= submit_tag "Add" %>
		</div>
	<% end %>
</div>

<div class='status'>
	<% if radio_connected? && radio.playing?(@playlist) %>
		<p>
			Stream url: <%= raw auto_link(@playlist.stream_url) %><br/>
			Current Song: <%= radio.current_song(@playlist).display_title %>
		</p>
		<!-- <audio src="<%= @playlist.stream_url %>" controls='controls' autobuffer='autobuffer'></audio> -->
	<% else %>
		This playlist is not streaming
	<% end %>
</div>
<h2>Queue:</h2>

<section id='songs'>
	<% @playlist.queue_items.each do |queue_item| %>
		<%= render queue_item.song, :item => queue_item %>
	<% end %>
</section>