<% javascript 'playlists/show', 'rails' %>

<div class="search">
  <div>
    <%= link_to '[Edit playlist]', [:edit, @playlist] if can? :update, @playlist %>
    <%= link_to '[Pool]', [@playlist, :pool] %>

    <% if can?(:add, @playlist) && radio_connected? %>
      <% if radio.playing? @playlist.id %>
        <%= link_to '[Stop streaming]', :controller => 'radio/commands',
                :action => 'stop', :playlist_id => @playlist.slug %>
        <%= link_to '[Next Song]', :controller => 'radio/commands',
                :action => 'next', :playlist_id => @playlist.slug %>
      <% else %>
        <%= link_to "[Start streaming]", :controller => 'radio/commands',
                :action => 'add', :playlist_id => @playlist.slug %>
      <% end %>
    <% end %>
  </div>

  <% if can? :add_to, @playlist.pool %>
    <%= form_tag [@playlist, :enqueue], :id => 'song-search', :remote => true do %>
      <div>
        <%= hidden_field_tag :song_id %>
        <%= text_field_tag :q, params[:q], :autocomplete => 'off',
                :placeholder => 'Add a song to this queue' %>
        <%= submit_tag 'Add', :disable_with => 'Adding...' %>
      </div>
    <% end %>
  <% end %>
</div>

<div class='status' data-id="<%= @playlist.to_param %>">
  <% if radio_connected? && radio.playing?(@playlist.id) %>
    <p>
      Stream url: <%= raw auto_link(@playlist.stream_url) %><br/>
      Current Song: <%= truncate radio.current_song(@playlist.id) %>
    </p>
  <% else %>
    This playlist is not streaming
  <% end %>
</div>

<h2>Queue:</h2>

<%= render 'queue' %>
