<div class="search">
	<div>
		<%= link_to 'Add your own', new_song_path %>
		<%= link_to 'Find a new one', :controller => 'fargo/search' if fargo_connected? %>
	</div>
	<% form_tag enqueue_playlist_path(@playlist), :id => 'song-search' do %>
		<div>
			<%= hidden_field_tag :playlist_id, @playlist.slug %>
			<%= text_field_tag :q, '', :autocomplete => 'off' %>
			<%= submit_tag "Add" %>
		</div>
	<% end %>
</div>

<h3>Stream url: <%= raw auto_link(@playlist.stream_url) %></h3>

<%= render @playlist.songs %>