
<section class="login">
  <%= form_for :user_session, :url => user_session_path do |f| %>
    <dl>
      <dt><%= f.label :email, 'email' %></dt>
      <dd>
				<% if @user_session.email.blank? %>
					<%= f.text_field :email, :autofocus => true %>
				<% else %>
					<%= f.text_field :email %>
				<% end %>
			</dd>
      <dt><%= f.label :password, 'password' %></dt>
      <dd>
				<% if @user_session.email.blank? %>
					<%= f.password_field :password %>
				<% else %>
					<%= f.password_field :password, :autofocus => true %>
				<% end %>
			</dd>
      <dt><%= f.check_box :remember_me %></dt>
			<dd><%= f.label :remember_me, 'remember' %></dt>
      <dd><%= f.submit "Login" %></dd>
    </dl>
  <% end %>
  <div id="links"> 
    <%= link_to 'create an account', [:new, :user] %><br />
    <%= link_to 'forgot password?', [:new, :password_reset] %><br />
    <%= link_to 'resend activation', [:new, :activation] %>
  </div>
</section>
