<tr class='replace' id='p<%= playlist.id %>'>
  <td><%= link_to playlist.name, playlist %></td>
  <td><%= radio.has? playlist.id %></td>
  <td><%= radio.current_song(playlist.id) if radio.playing? playlist.id %></td>
  <td class='links'>
    <% if radio.has? playlist.id %>
      <%= link_to 'Next Song', {:controller => 'radio/commands', :action => 'next', :playlist_id => playlist.slug}, :remote => true %>
      <%= link_to 'Stop', {:controller => 'radio/commands', :action => 'stop', :playlist_id => playlist.slug}, :remote => true %>
    <% else %>
      <%= link_to 'Add', {:controller => 'radio/commands', :action => 'add', :playlist_id => playlist.slug}, :remote => true %>
    <% end %>
  </td>
</tr>
