<tr class='replace'>
	<td><%= link_to playlist.name, playlist %></td>
	<td><%= radio.has? playlist %></td>
	<td><%= radio.current_song(playlist).title if radio.playing? playlist %></td>
	<td class='links'>
		<% if radio.has? playlist %>
			<%= link_to 'Next Song', {:controller => 'radio/commands', :action => 'next', :playlist_id => playlist.slug}, :class => 'remote-replace' %>
			<%= link_to 'Stop', {:controller => 'radio/commands', :action => 'stop', :playlist_id => playlist.slug}, :class => 'remote-replace' %>
		<% else %>
			<%= link_to 'Add', {:controller => 'radio/commands', :action => 'add', :playlist_id => playlist.slug}, :class => 'remote-replace' %>
		<% end %>
	</td>
</tr>
