<h1>Playlists</h1>

<% unless radio_connected? %>
	<div id='flash_error'>
		The radio is disconnected, the links below won't do anything.
		You may, however, <%= link_to 'connect it', :controller => 'radio/commands', :action => 'connect' %>.
	</div>
<% end %>
<table>
	<tr>
		<th>Name</th>
		<th>On Radio?</th>
		<th>Current Song</th>
		<th>Actions</th>
	</tr>
	<% @playlists.each do |playlist| %>
		<tr>
			<td><%= playlist.name %></td>
			<td><%= radio.has? playlist %></td>
			<td><%= radio.current_song(playlist).display_title if radio.playing? playlist %></td>
			<td>
				<% if radio.has? playlist %>
					<%= link_to 'Next Song', :controller => 'radio/commands', :action => 'next', :playlist_id => playlist.slug %>
					<%= link_to 'Stop', :controller => 'radio/commands', :action => 'stop', :playlist_id => playlist.slug %>
				<% else %>
					<%= link_to 'Add', :controller => 'radio/commands', :action => 'add', :playlist_id => playlist.slug %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
