<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : 'Cohort Radio' %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag 'rails' %>
    <%= yield :javascripts %>
  </head>
  <body>
    <% if current_user && !Rails.env.development? %>
      <div style='text-align:center'>
        <%= image_tag 'banner.png' %>
      </div>
    <% end %>

    <div id="container">
      <header>
        <nav><%= render 'layouts/topnav' %></nav>
      </header>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, :id => "flash_#{name}", :class => 'flash' do %>
          <p><%= msg %></p>
          <%= link_to '[hide]', '#', :onclick => "$(this).parents('.flash').fadeOut('fast'); return false;" %>
          &nbsp; <%# needed for some reason... %>
        <% end %>
      <% end %>

      <section id='content' class='pagination-container'>
        <%= yield %>
      </section>

      <footer>
        I'm a footer!
      </footer>

    </div>
  </body>
</html>
