<!DOCTYPE html>
<html manifest="/application.manifest">
  <head>
    <%= csrf_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : 'Cohort Radio' %></title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1" />

    <%= stylesheet_link_tag 'mobile' %>
    <%= yield :stylesheets %>
    <%= yield :javascripts %>
  </head>
  <body>
    <div id="container">
      <header>
        <nav>
          <ul>
            <li>
              <% if current_user.nil? %>
                <%= link_to 'Home', new_user_session_path %>
              <% else %>
                <%= link_to "Playlists", playlists_path %>
              <% end %>
            </li>

            <% if can? :download, 'fargo' %>
              <li><%= link_to "Fargo", fargo_search_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, :id => "flash_#{name}", :class => 'flash' do %>
          <p><%= msg %></p>
          <%= link_to '[hide]', '#', :onclick => "$(this).parents('.flash').fadeOut('fast'); return false;" %>
          &nbsp; <%# needed for some reason... %>
        <% end %>
      <% end %>

      <section id='content' class='pagination-container'>
        <%= yield %>
      </section>

    </div>
  </body>
</html>
