<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
		<%= csrf_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : "Cohort Radio" %></title>
    <%= stylesheet_link_tag 'blueprint/screen', 'jquery-ui', 'application', 'autocomplete', 'menus', :cache => 'cache/all' %>
    <%= javascript_include_tag 'jquery', 'rails', 'jquery.form', 'jquery-ui', 'jquery.validate', 'jquery.autocomplete', 'application', :cache => 'cache/all' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
			<header>
				<nav>
					<%= render 'layouts/topnav' %>
				</nav>
				<div style='float:right'>
					<% if current_user %>
						Logged in as: <%= current_user.name %> |
						<%= link_to 'Logout', logout_path %>
					<% else %>
						<%= link_to "Login", login_path %>
					<% end %>
				</div>
			</header>
			
      <% flash.each do |name, msg| %>
        <% content_tag :div, :id => "flash_#{name}", :class => 'flash' do %>
			    <p><%= msg %></p>
			    <%= link_to '[hide]', '#', :onclick => "$(this).parents('.flash').fadeOut('fast'); return false;" %>
			    &nbsp; <%# needed for some reason... %>
				<% end %>
      <% end %>

			<section id='content'>
      	<%= yield %>
			</section>
			
			<footer>
				&copy; 2010 - Alex Crichton
			</footer>
			
    </div>
  </body>
</html>
