<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : 'Cohort Radio' %></title>
    <%= stylesheet_tags 'application', 'menus' %>
    <%= yield :head %>
  </head>
  <body>
    <% if current_user %>
      <div style='text-align:center'>
        <%= image_tag 'banner.png' %>
      </div>
    <% end %>
    <div id="container">
      <header>
        <nav>
          <%= render 'layouts/topnav' %>
        </nav>
        <div style='float:right'>
          <% if current_user %>
            Logged in as: <%= current_user.name %> |
            <%= link_to 'Logout', logout_path %>
          <% else %>
            <%= link_to "Login", login_path %>
          <% end %>
        </div>
      </header>

      <% flash.each do |name, msg| %>
        <% javascript 'jquery' %>
        <%= content_tag :div, :id => "flash_#{name}", :class => 'flash' do %>
          <p><%= msg %></p>
          <%= link_to '[hide]', '#', :onclick => "$(this).parents('.flash').fadeOut('fast'); return false;" %>
          &nbsp; <%# needed for some reason... %>
        <% end %>
      <% end %>

      <section id='content' class='pagination-container'>
        <%= yield %>
      </section>

      <footer>
        I'm a footer!
      </footer>

    </div>
    <%= javascript_tags %>
  </body>
</html>
